:root {
    --primari-text-color: #212121;
    --secondari-txt-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}


body {
    font-family: Roboto, sans-serif;

    color: var(--primari-text-color);
    background-color: var(--primari-white-color);
}

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}


span {
    color: var(--accent-color);
}


.logo {
    color: #000000;

    font-size: 26px;
    font-family: Raleway,sans-serif;
}


.nav-cont:hover,
.nav-cont:focus {
    color: var(--accent-color);
}


.filter {
    font-family: Roboto, sans-serif;
    color: var(--primari-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    
}


.filter:hover,
.filter:focus {
    color: white;
    background-color: #2196F3;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.subtitle {
    color: var(--secondari-txt-color);

font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}



/* .nav-foot-cont:hover,
.nav-foot-cont:focus {
    color: var(--accent-color);
} */