:root {
    --primari-text-color: #212121;
    --secondary-txt-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}


body {
    font-family: Roboto, sans-serif;

    color: var(--primari-text-color);
    background-color: var(--primari-white-color);
}

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}


span {
    color: var(--accent-color);
}


.logo {
    color: #000000;

    font-size: 26px;
    font-family: Raleway,sans-serif;
}


.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--accent-color);
}

.header-contact-item:hover,
.header-contact-item:focus {
    color: var(--accent-color);
}

.main-filter {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
}


.main-filter-item:hover,
.main-filter-item:focus {
    color: white;
    background-color: #2196F3;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.subtitle {
    color: var(--secondary-txt-color);

/* font-weight: 400; */
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}


.footer-nav-item:hover,
.footer-nav-item:focus {
    color: var(--accent-color);
}
