:root {
    --primari-text-color: #212121;
    --secondary-txt-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
    --secondary-background-color: #2F303A;
    --black-color: #000000;
}


body {
    font-family: Roboto, sans-serif;

    color: var(--primari-text-color);
    background-color: var(--primari-white-color);
}

.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* span!!!: */
.logo-top {
    color: #000000;
}
.logo-bottom {
    color: #ffffff;
}


.accent {
    color: var(--accent-color);
}

.white {
    color: var(--primari-white-color);
}


/* .class Reset!!!: */

.list {
    list-style: none;
}

.text {
    text-decoration: none;
}



.header-nav,.header-contact {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--accent-color);
}
.header-contact-item:hover,
.header-contact-item:focus {
    color: var(--accent-color);
}



.main-filter {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
}

.main-filter-item:hover,
.main-filter-item:focus {
    color: white;
    background-color: #2196F3;
}

.main-content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.subtitle {
    color: var(--secondary-txt-color);

/* font-weight: 400; */
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}



.footer-nav {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    color: var(--accent-color);
}

.footer {
    background-color: var(--secondary-background-color);
}







/* main page two */

.title {
    color: var(--primari-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main-board-order {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-board {
    background-color: var(--secondary-background-color);
}




.spetial-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.spetial-text {
    color: var(--secondary-txt-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.variety,
.staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.staff-order {
    color: var(--secondary-txt-color);

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

